@import "../../../scss/mixins";
@import "../../../scss/keyframes-ch";

//@include make-keyframe(scaleInAndOut2500, 1.6s, 2.5s, 0.7s, scale(0.75), scale(1), scale(1), 0, 1, 0);
//@include make-keyframe(fadeInAndScale5500, 0.6s, 0.1s, 5.3s, scale(1), scale(1.045), scale(1.09), 0, 1, 1);
//@include make-keyframe-from-to(outRight, translateX(0), translateX(100%), 1, 1);
//@include make-keyframe-from-to(inLeft40, translateX(-40px), translateX(0), 1, 1);
//
// @include make-keyframe($name, $duration-in: 0.6s, $duration-to: 2.0s, $duration-out: 0.6s, ...);
//@include make-keyframe-repeat(fadeIn, 0.8s, 1s, 1s);
// @include make-keyframe-from-to($name, $transform-from: translateX(0%), $transform-to: translateX(0%), $opacity-from: 0, $opacity-to: 1)
//@include make-keyframe-from-to(frameDCO, translateX(100%), translateX(0), 1, 1);

@keyframes scaleBkg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.16);
  }
}
//
//BANNER SPECIFIC SIZE
$ad-width: 728px;
$ad-height: 90px;
$ad-std-delay: 4s;
$ad-std-duration: 0.25s;

//
//IMPORTANT! STANDARD FRAME STYLES
@import "../../../scss/global";

//
//IMPORTANT! ADDRESS PLUS CTA
@import "block";

//
//BANNER SPECIFIC STYLES
.anim.anim-2 {
  opacity: 0;
}
.anim .frame-cta {
  transform-origin: 25% 50%;
  .outer {
    transform-origin: 25% 50%;
  }
}
.anim .frame-bkg-1 {
  transform-origin: 57% 50%;
}

.anim .frame-anim {
  background: #fff;
}
.anim .frame-adr {
  background: transparent;
}
.anim .frame-adr .inner.address {
  padding-left: 13px;
  padding-top: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}
.copy {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #fff;
  width: 320px;
  span {
    display: inline-block;
    width: 208px;
  }
}

$position-main: 0s;

//@include make-anim(classname, keyframe anim name, duration, position, ease);
//animation: name, duration, timing-function, delay, iteration-count, direction, fill-mode, play-state (running/paused)
//make-anim($class: 'frame-bkg-1', $name: fadeIn, $duration: 0.6s, $position: 0.0s, $ease: ease, $iteration: 1, $direction: normal, $fill: forwards)
.anim-1 {
  //@include make-anim("frame-anim", fadeIn, $ad-std-duration, $position-main);
  @include make-anim("frame-bkg-1", scaleBkg, 13s, $position-main, ease-in-out);
  $position-main: $position-main + 0.25;
  @include make-anim("frame-c-1", inAndOut5, $ad-std-delay + 0.75s, $position-main);
  $position-main: $position-main + 0.35s;
  @include make-anim("frame-adr", inAndOut5, $ad-std-delay + 0.5s, $position-main);
  $position-main: $position-main + 0.5;
  @include make-anim("frame-c-2", inAndOut5, $ad-std-delay, $position-main, ease-in-out);
  $position-main: $position-main + 4.25;
  //, cubic-bezier(.47,1.64,.41,.8)
  @include make-anim("frame-c-3", inAndOut5, $ad-std-delay + 2.5s, $position-main);
  $position-main: $position-main + 0.25;
  @include make-anim("frame-c-4", inAndOut5, $ad-std-delay + 2.25s, $position-main);
  $position-main: $position-main + 0.25;
  @include make-anim("frame-c-5", inAndOut5, $ad-std-delay + 2s, $position-main);
  $position-main: $position-main + 6.15;

  @include make-anim("frame-cta", clickCta, 1.5s, $position-main, ease-in-out);
  $position-main: $position-main + 1.8;
  @include make-anim("frame-cta .outer", ctaBubble, 1.5s, $position-main, ease-in-out);
  //@include make-anim("frame-anim", fadeOut, 0.1s, $position-main, ease-in-out);
}

$position-main: $position-main + 16;
@include make-anim("anim.anim-2", fadeIn, $ad-std-duration, $position-main, ease-out);
@include make-anim("anim.anim-1", fadeOut, 0.1s, $position-main, ease-out);

.anim-2 {
  @include make-anim("frame-bkg-1", scaleBkg, 13s, $position-main, ease-in-out);
  $position-main: $position-main + 0.25;
  @include make-anim("frame-c-1", inAndOut5, $ad-std-delay + 0.75s, $position-main);
  $position-main: $position-main + 0.35s;
  @include make-anim("frame-adr", inAndOut5, $ad-std-delay + 0.5s, $position-main);
  $position-main: $position-main + 0.5;
  @include make-anim("frame-c-2", inAndOut5, $ad-std-delay, $position-main, ease-in-out);
  $position-main: $position-main + 4.25;
  //, cubic-bezier(.47,1.64,.41,.8)
  @include make-anim("frame-c-3", inAndOut5, $ad-std-delay + 2.5s, $position-main);
  $position-main: $position-main + 0.25;
  @include make-anim("frame-c-4", inAndOut5, $ad-std-delay + 2.25s, $position-main);
  $position-main: $position-main + 0.25;
  @include make-anim("frame-c-5", inAndOut5, $ad-std-delay + 2.0s, $position-main);
  $position-main: $position-main + 6.15;
  //@include make-anim("frame-adr", fadeIn, $ad-std-duration, $position-main);
  //$position-main: $position-main + 0.35s;
  @include make-anim("frame-cta", clickCta, 1.5s, $position-main, ease-in-out);
  $position-main: $position-main + 1.8;
  @include make-anim("frame-cta .outer", ctaBubble, 1.5s, $position-main, ease-in-out);
}

//cubic-bezier(0.68, -0.55, 0.265, 1.55)
