<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% block head %} {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="joerg.pfeifer@egplusww.com">
    <meta name="description" content="STANDARD TEMPLATE AD V2.3.1 | 21.01.2020 | {{date}}">
    {% block style %} {% endblock %}
    {% block advertisertop %} {% endblock -%}
    {% block inlinestyle %} {% endblock %}
</head>
<body>
    {%- block content -%} {%- endblock -%}
    {% block bottom %} {% endblock %}
</body>
</html>