/* ADDRESS PLUS CTA */
.inner {
  text-align: left;
  .block {
    display: inline-block;
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;

    .copy {
      color: #000;
      font-family: 'Merriweather Sans', sans-serif;
      font-weight: 400;
      text-align: left;
      font-size: 14px;
      line-height: 1.25;
      padding: 110px 0 0 0;
      &.percent60 {
        width: 60%;
        padding-left: 40%;
      }
      &.percent65 {
        width: 65%;
        padding-left: 35%;
      }
      &.percent70 {
        width: 70%;
        padding-left: 30%;
      }
      &.shadow {
        text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
      }

      &.white {
        color: #fff;
      }

      &.bold {
        font-weight: bold;
      }

      &.center {
        text-align: center;
      }

      &.legal {
        font-size: 9px;
        padding: 130px 10px 5px 14px;
      }
    }

    .cta {
      position: relative;
      margin: 10px 0 0 0;
      transform-origin: 50% 50%;
      &.percent65 {
        margin-left: 35%;
      }
    }

    &.opac {
      background: rgba(0, 0, 0, 0);
    }

    &.grey {
      background: #4c4c4c;
    }

    &.black {
      background: #000;
    }

    &.center {
      .copy {
        text-align: center;
      }
    }

    &.trans-border {
      background: rgba(0, 0, 0, 0);
      border: 1px solid #ccc;
    }
  }

}
