<!-- style this via selector: [egp-module="close-btn"], egp-close-btn -->
<!-- you can use both tag or attribute -->
<!--<div egp-module="open-btn" egp-target="#nfo-win" egp-autopause="1">i</div>-->
<!--<egp-open-btn egp-target="#nfo-win" egp-autopause="1">i</egp-open-btn>-->
<!--<egp-close-btn egp-target="#nfo-win" egp-autoplay="1">x</egp-close-btn>-->
<div egp-module="open-btn" egp-target="#nfo-win" egp-autopause="1">i</div>