{% extends "layout.njk" %}
{%- block head -%}
    <title>{{advertiser}}</title>
    <meta name="ad.size" content="{{size.content}}">
{%- endblock -%}
{%- block style -%}
    <style>{%- include "partials/ads/" + dir + "/index.min.css" -%}</style>
{%- endblock -%}
{%- block advertisertop -%}
    {% if advertiser === 'APPNEXUS' -%}
    <script type="text/javascript" src="https://acdn.adnxs.com/html5-lib/1.3.0/appnexus-html5-lib.min.js"></script>
    {% elif advertiser === 'LR' -%}
    <script src="https://cdn.qservz.com/custdata/html5/libs/lighreaction-html5-api.min.js"></script>
    <script type="text/javascript">
        var clickTag = getUrlVarsAndDecode()["clickTag"];
        function initAd() { }
    </script>
    {% elif advertiser === 'ADW' -%}
    <script type="text/javascript" src="https://tpc.googlesyndication.com/pagead/gadgets/html5/api/exitapi.js"></script>
    {% elif advertiser === 'ADF' -%}
    <script type="text/javascript">
        document.write('<script src="'+ (window.API_URL || 'https://s1.adform.net/banners/scripts/rmb/Adform.DHTML.js?bv='+ Math.random()) +'"><\/script>');
    </script>
    {% elif advertiser === 'ADFM' -%}
    <script src="mraid.js"></script>
    {% elif advertiser === 'GDN' or advertiser === 'DCM' -%}
    <script type="text/javascript">var clickTag = "https://www.google.de/";</script>
    {% endif %}
{%- endblock -%}
{% block inlinestyle -%}
    {% if advertiser === 'APPNEXUS' or advertiser === 'LR' or advertiser === 'ADW' or advertiser === 'ATLAS' or advertiser === 'GDN' or advertiser === 'DCM' %}<style>body > a { display: block; width: 100%; height: 100%; }body > a > div { display: inline-block; background-color: rgba(0,0,0,0); width: 100%; height: 100%; }</style>{% endif %}
    {%- if hasBorder === false -%}<style>#bg-exit .border { display: none; }</style>{% endif %}
{%- endblock -%}
{%- block content -%}
    <div id="bg-exit" class="wrapper-banner">
        {%- include "partials/ads/" + dir + "/bg-exit.html" -%}
    </div>
{%- endblock -%}
{% block bottom -%}
    {% if advertiser === 'ADW' or advertiser === 'ADFM' or advertiser === 'GDN' or advertiser === 'DCM' or advertiser === 'DCS' -%}
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/gsap_3.5.1_min.js"></script>
    {% elif advertiser === 'SIZMEK' -%}
    <script src="https://secure-ds.serving-sys.com/BurstingcachedScripts/libraries/gsap/3_0_0/gsap.min.js"></script>
    {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    {% endif %}
    {% if hasMotionPath %}<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/MotionPathPlugin.min.js"></script>{% endif %}
    {% if hasEasePath %}<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/EasePack.min.js"></script>{% endif %}
    {%- include "partials/advertiser-js.njk" -%}
    {% if concat -%}{% include "partials/bottom-concat-js.njk" -%}{% else -%}{% include "partials/bottom-js.njk" -%}{% endif %}
{%- endblock %}
