@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(40px);
  }
}
@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-40px);
  }
}
@keyframes clickCta {
  0% {
    opacity: 0;
    transform: translateX(25%) scale(1);
  }
  45% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  55% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  70% {
    opacity: 1;
    transform: translateX(0%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}
@keyframes pumpCta {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes inAndOut2500 {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }
  30.303030303% {
    opacity: 1;
    transform: translateX(0%);
  }
  75.7575757576% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(0%);
  }
}
@keyframes frameDCO {
  0% {
    opacity: 1;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes bkgMove {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(-200px);
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

#bg-exit {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 160px;
  height: 600px;
  cursor: pointer;
  margin: auto;
  background: #fff;
  overflow: hidden;
}

.anim svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.anim,
.anim .frame {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
}
.anim.show,
.anim .frame.show {
  opacity: 1;
}

.anim,
.anim .static {
  opacity: 1;
  overflow: hidden;
}

.anim .frame .outer {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.anim .frame .outer .inner {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#bg-exit img {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  min-width: inherit;
  min-height: inherit;
}

.anim .bkg-white {
  background: #fff;
}

.anim .bkg-black {
  background: #000;
}

.anim .bkg-grey-bdbdc2 {
  background: #bdbdc2;
}

.anim .alpha {
  opacity: 0;
}

/* ie11 HACK THROWS AMP ERRORS !!!
@media all and (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {

  .anim .frame .outer .inner {
    display: block;
  }

  #bg-exit .inner .block .cta img {
    position: absolute;
  }
} */
.white {
  color: #fff;
}

.light {
  font-weight: 300;
}

b {
  font-weight: 800;
}

sup {
  line-height: 0.5;
}

.anim .cta {
  width: 141px;
  height: 30px;
  margin: 0;
}

.anim .frame-bkg-wide {
  width: 360px;
  opacity: 1;
}
.anim .frame-bkg-wide {
  animation: bkgMove 4.5s ease-in-out 0s 1 normal forwards;
}
.anim .frame-verbrauch-black {
  animation: fadeIn 0.7s ease 0s 1 normal forwards;
}
.anim .frame-c-1 {
  animation: fromRight 1.25s ease 0.2s 1 normal forwards;
}
.anim .frame-c-2 {
  animation: fromRight 0.7s ease 1.2s 1 normal forwards;
}
.anim .frame-c-3 {
  animation: fromRight 0.7s ease 2.7s 1 normal forwards;
}
.anim .frame-bkg-3 {
  animation: fadeIn 0.7s ease 5.7s 1 normal forwards;
}
.anim .frame-verbrauch-white {
  animation: fadeIn 0.7s ease 5.7s 1 normal forwards;
}
.anim .frame-c-4 {
  animation: fromRight 0.7s ease 5.7s 1 normal forwards;
}
.anim .frame-c-5 {
  animation: fromRight 0.7s ease 6s 1 normal forwards;
}
.anim .frame-logo-nim {
  animation: fromRight 0.7s ease 6.3s 1 normal forwards;
}
.anim .frame-bkg-4 {
  animation: fadeIn 0.7s ease 9.3s 1 normal forwards;
}
.anim .frame-c-6 {
  animation: fromRight 0.7s ease 9.3s 1 normal forwards;
}
.anim .frame-legal {
  animation: fadeIn 0.7s ease 12.3s 1 normal forwards;
}
.anim .frame-dco {
  animation: fadeIn 0.7s ease 15.3s 1 normal forwards;
}
.anim .frame-c-7 {
  animation: fromRight 0.7s ease 15.8s 1 normal forwards;
}
.anim .frame-c-8 {
  animation: fromRight 0.7s ease 16.05s 1 normal forwards;
}
.anim .frame-adr {
  animation: fadeIn 1s ease 16.3s 1 normal forwards;
}
.anim .frame-adr .cta {
  animation: clickCta 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 16.9s 1 normal forwards;
}

/* ADDRESS PLUS CTA */
.inner .block {
  display: inline-block;
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
}
.inner .block .copy {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-align: left;
  font-size: 12px;
  line-height: 1.35;
  padding: 320px 0 0 0;
}
.inner .block .copy.shadow {
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}
.inner .block .copy.white {
  color: #fff;
}
.inner .block .copy.bold {
  font-weight: bold;
}
.inner .block .copy.center {
  text-align: center;
}
.inner .block .copy.legal {
  font-size: 9px;
  padding: 130px 10px 5px 14px;
}
.inner .block .cta {
  position: relative;
  margin: 70px auto 0 auto;
}
.inner .block.opac {
  background: rgba(0, 0, 0, 0);
}
.inner .block.grey {
  background: #4c4c4c;
}
.inner .block.black {
  background: #000;
}
.inner .block.center .copy {
  text-align: center;
}
.inner .block.trans-border {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ccc;
}