@import "../../../scss/mixins";
//
//
//START WITH KEYFRAME DEFINITIONS
//@include make-keyframe(inAndOut2500, 1.0s, 2.5s, 0.8s);
// make-keyframe($name, $duration-in: 0.6s, $duration-to: 2.0s, $duration-out: 0.6s, $transform-in: translateX(0%), $transform-to: translateX(0%), $transform-out: translateX(0%), $opacity-in: 0, $opacity-to: 1, $opacity-out: 0)
// (!!!) $duration-total: $duration-to + $duration-out;
@include make-keyframe(inAndOut35, 0.6s, 3.5s, 0.6s);
@include make-keyframe(inAndOut48, 0.8s, 4s, 0.8s);
//animation: name, duration, timing-function, delay, iteration-count, direction, fill-mode, play-state (running/paused)
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
 @keyframes clickCta {
  0% {
    opacity: 0;
    transform: translateX(0) scale(1);
  }
  45% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  60% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  70% {
    opacity: 1;
    transform: translateX(0%) scale(0.9);
  }
  95% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}

@keyframes flicker1 {
  0% {
    opacity: 0;
    //transform: translateX(25%) scale(1);
  }
  9% {
    opacity: 1;
  }
  10% {
    opacity: 0.3;
  }
  11% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0.4;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0.7;
  }
  27% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  36% {
    opacity: 0.9;
  }
  37% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0.6;
  }
  42% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0.8;
  }
  87% {
    opacity: 1;
  }
  88% {
    opacity: 0.5;
  }
  89% {
    opacity: 0.9;
  }
  90% {
    opacity: 1;
  }
  91% {
    opacity: 0.3;
  }
  92% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  96% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    //transform: translateX(0%) scale(1);
  }
}