@charset 'utf-8';
//keyframes-scss | EG+ 2021 | Author: J. Pfeifer | @egplusww.com

//animation: name, duration, timing-function, delay, iteration-count, direction, fill-mode, play-state (running/paused)
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-30px);
  }
}

@keyframes clickCta {
  0% {
    opacity: 0;
    transform: translateX(25%) scale(1);
  }
  45% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  60% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  70% {
    opacity: 1;
    transform: translateX(0%) scale(0.9);
  }
  95% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}

@keyframes pumpCta {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  40% {
    opacity: 1;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes flicker1 {
  0% {
    opacity: 0;
    //transform: translateX(25%) scale(1);
  }
  9% {
    opacity: 1;
  }
  10% {
    opacity: 0.3;
  }
  11% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0.4;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0.7;
  }
  27% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  36% {
    opacity: 0.9;
  }
  37% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0.6;
  }
  42% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  86% {
    opacity: 0.8;
  }
  87% {
    opacity: 1;
  }
  88% {
    opacity: 0.5;
  }
  89% {
    opacity: 0.9;
  }
  90% {
    opacity: 1;
  }
  91% {
    opacity: 0.3;
  }
  92% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  96% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    //transform: translateX(0%) scale(1);
  }
}